#----- Git Ignore File -----# 
.vscode

# Data directory
data/bathymetry/
data/cce/
data/mitgcm/
data/calcofi/

# Figs directory

# Docs directory 
docs/

# Src directory
src/__pycache__/

# Tools directory
tools/__pycache__/
tools/README.md

# Notebooks directory
notebooks/__pycache__/
notebooks/trouble_shotting/

