#----- Git Ignore File -----# 
.vscode

# Data directory
data/bathymetry/
data/cce/
data/mitgcm/
data/calcofi/

# Figs directory
figs/figS*.png

# Docs directory 
docs/

# Src directory
src/__pycache__/
src/figS*.py

# Tools directory
tools/__pycache__/
tools/README.md
tools/*wrapper.py

# Notebooks directory
notebooks/__pycache__/
notebooks/trouble_shotting/

